<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.png" class="img-fluid" alt="foto presentacion" id="fotoperfil" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Igna Valdivia</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, hic
        ut fuga iusto animi, similique iure eum totam debitis laboriosam in
        fugiat unde atque pariatur eligendi tenetur eius magnam recusandae?
      </p>
    </span>
  </div>
</div>
