<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Estudio 1</h1>
          <h3>2000-2000</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          debitis possimus veritatis dignissimos et cum fugiat ipsam corrupti
          vero? Deleniti quo omnis suscipit, ipsum nulla numquam sit recusandae.
          Enim, quia?
        </p>
      </ul>
      <ul>
        <li>
          <h1>Estudio 2</h1>
          <h3>2000-2000</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          debitis possimus veritatis dignissimos et cum fugiat ipsam corrupti
          vero? Deleniti quo omnis suscipit, ipsum nulla numquam sit recusandae.
          Enim, quia?
        </p>
      </ul>
      <ul>
        <li>
          <h1>Estudio 3</h1>
          <h3>2000-2000</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          debitis possimus veritatis dignissimos et cum fugiat ipsam corrupti
          vero? Deleniti quo omnis suscipit, ipsum nulla numquam sit recusandae.
          Enim, quia?
        </p>
      </ul>

    </div>
  </div>
  
